.head {
    background-color: #e2dfdf;
    min-height: 25vh;
}

.logo {
    width: 15vw;
    height: 100%;
}

/* .navbar-toggler {
    background-color: gray;
} */

.navbar {
    width: fit-content;
}

.carrito {
    width: 5vw;
    height: 4rem;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: #363636;
}

.nav-item {
    /* margin: 1rem; */
    height: fit-content;
}

.nav-link {
    font-size: 1.5rem;
    color: black;
    height: fit-content;
    text-align: center;
    margin: 1rem;

}

.navbar-nav {
    display: flex;
    align-items: center;
    /* margin: 1rem; */
}

.buscador {
    display: flex;
    margin: auto;
    width: 40%;
    border: 20px;
}

@media (max-width: 991px) {
    .logo {
        width: 25vw;
    }

    .bars {
        color: black;
        font-size: 2rem;
    }
    .carrito {
        width: 5vw;
        height: 4rem;
        font-size: 2rem;
        background-color: transparent;
        border: none;
        color: #363636;
    }
    .nav-link {
        font-size: 1.2rem;
        color: black;
        height: fit-content;
        text-align: center;
        margin: .7rem;
    
    }
}